@model List<EMS_Dapper.Models.Employee>

<h2>Employee List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.EmployeeName</td>
                <td>@emp.Email</td>
                <td>@emp.DepartmentName</td>
                <td>@emp.DesignationName</td>
            </tr>
        }
    </tbody>
</table>

